.details{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}
.details .card span{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 16px;
    display: inline-block;
}
.details .card, .details .foot{
    padding: 30px;
}