.sign-in{
    max-width: 600px;
    padding: 100px 0;
    margin: 0 auto;
}
.sign-in h2{
    margin-bottom: 20px;
}
.sign-in input, .sign-in textarea{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 2px;
}
.sign-in .content-area{
    font-size: 1.5em;
}
.sign-in button{
    padding: 10px 20px;
    border: none;
    background-color: crimson;
    font-size: 1.3em;
    color: #fff;
    border-radius: 4px;
}